.soda-fresh__text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  color: $green-color;
  margin: 0;
  transform: translateX(-10px);
}

@media (max-width: 765px) {
  .soda-fresh__text {
    line-height: 24px;
    font-size: 20px;
  }
}
