.footer__copyright {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: $white-color;
  grid-column: 3/6;
  grid-row: 4/5;
  margin: 0;
}

@media (max-width: 690px) {
  .footer__copyright {
    grid-row: 8/9;
    grid-column: 1;
    text-align: center;
  }
}
