.button {
  height: 55px;
  box-sizing: border-box;
  font-family: $fontfamily;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  align-items: center;
  border: none;
  padding: 0;
}
