@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
.page {
  font-family: Inter, Arial, sans-sarif;
  background-color: rgb(255, 255, 255);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}

.button {
  height: 55px;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-sarif;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  align-items: center;
  border: none;
  padding: 0;
}

.button__type_purple {
  background-color: #A27BFF;
  color: rgb(255, 255, 255);
  width: 158px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .button__type_purple {
    width: 220px;
    height: 51px;
  }
}
.button__type_purple:hover {
  border: 2px solid #e1fd2c;
  border-radius: 10px;
}

.button__type_yellow {
  background-color: #FFDB00;
  color: #1E3264;
  width: 163px;
  cursor: pointer;
}

.button__type_yellow:hover {
  border: 2px solid #1e3264;
  border-radius: 10px;
}

.soda-pineapple {
  display: grid;
  position: relative;
  background-color: #9960F6;
  outline: 2px solid blue;
  background-image: url("../../../images/bg-c.svg");
  background-size: 405px;
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  padding: 40px 50px 50px;
  grid-template-columns: 783fr 100fr 457fr;
  grid-template-rows: 30fr 40fr auto;
}

.soda-pineapple::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../../images/made-on-earth.svg");
  width: 169px;
  height: 169px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50px;
  right: 50px;
}

@media (max-width: 1370px) {
  .soda-pineapple::after {
    width: 128px;
    height: 128px;
    top: 40px;
  }
}
@media (max-width: 1370px) {
  .soda-pineapple {
    background-size: 320px;
    grid-template-columns: 400fr 80fr 457fr;
  }
}
@media (max-width: 1200px) {
  .soda-pineapple {
    background-image: none;
  }
}
@media (max-width: 1024px) {
  .soda-pineapple {
    grid-template-columns: 668fr;
    grid-template-rows: 30fr 126fr auto 50fr;
  }
}
@media (max-width: 767px) {
  .soda-pineapple::after {
    top: 20px;
    right: 20px;
    width: 94px;
    height: 94px;
  }
}
@media (max-width: 767px) {
  .soda-pineapple {
    grid-template-rows: 30fr 50fr auto 50fr;
    padding: 20px;
  }
}
@media (max-width: 425px) {
  .soda-pineapple {
    grid-template-columns: 280fr;
  }
}
.soda-pineapple__title {
  top: 40px;
  left: 50px;
  color: #FFDB00;
  margin-top: 0;
  margin-bottom: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 30px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .soda-pineapple__title {
    font-size: 20px;
  }
}
.soda-pineapple__image {
  grid-row: 3/4;
  grid-column: 1/2;
  max-width: 783px;
}

@media (max-width: 1280px) {
  .soda-pineapple__image {
    max-width: 600px;
  }
}
@media (max-width: 1024px) {
  .soda-pineapple__image {
    width: 100%;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .soda-pineapple__image {
    min-width: 280px;
    min-height: 216px;
    z-index: 0;
    margin: 0;
  }
}
.soda-pineapple__wrapper {
  outline: 2px solid greenyellow;
  display: grid;
  grid-row: 3/4;
  grid-column: 3/4;
  grid-template-columns: 457fr;
  grid-template-rows: 96fr 171fr 55fr;
  align-self: flex-end;
}

@media (max-width: 1400px) {
  .soda-pineapple__wrapper {
    grid-template-rows: 96fr 150fr 55fr;
  }
}
@media (max-width: 1024px) {
  .soda-pineapple__wrapper {
    max-width: 783px;
    grid-template-columns: 407fr 98fr 163fr;
    grid-template-rows: auto;
    grid-row: 5/6;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 630px) {
  .soda-pineapple__wrapper {
    grid-template-columns: auto;
    grid-template-rows: 48fr 30fr auto;
    width: 100%;
    align-self: flex-start;
  }
}
@media (max-width: 767px) {
  .soda-pineapple__wrapper {
    min-width: 280px;
  }
}
.soda-pineapple__subtitle {
  color: rgb(255, 255, 255);
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  margin: 0;
  grid-row: 1/2;
  grid-column: 1;
}

@media (max-width: 1400px) {
  .soda-pineapple__subtitle {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 1024px) {
  .soda-pineapple__subtitle {
    max-width: 407px;
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 786px) {
  .soda-pineapple__subtitle {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 630px) {
  .soda-pineapple__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
.soda-pineapple__button {
  grid-row: 3/4;
  grid-column: 1;
  align-self: flex-end;
}

@media (max-width: 1200px) {
  .soda-pineapple__button {
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .soda-pineapple__button {
    grid-row: 1;
    grid-column: 3/4;
    align-self: flex-start;
  }
}
@media (max-width: 630px) {
  .soda-pineapple__button {
    grid-row: 3/4;
    grid-column: 1;
    align-self: left;
    height: 51px;
    width: 152px;
    align-self: start;
    font-size: 16px;
    line-height: 31px;
  }
}
.soda-pineapple__image-union {
  position: absolute;
  bottom: 14px;
  right: 555px;
  width: 149px;
  height: 146px;
}

@media (max-width: 1280px) {
  .soda-pineapple__image-union {
    right: 45%;
    bottom: 10%;
  }
}
@media (max-width: 1024px) {
  .soda-pineapple__image-union {
    right: 20%;
    bottom: 20%;
  }
}
@media (max-width: 800px) {
  .soda-pineapple__image-union {
    bottom: 197px;
    right: 70px;
    width: 149px;
    height: 146px;
  }
}
@media (max-width: 630px) {
  .soda-pineapple__image-union {
    bottom: 158px;
    right: 26px;
    width: 94px;
    height: 96px;
  }
}
.soda-fresh {
  max-height: 76px;
  background-color: #CEF564;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 765px) {
  .soda-fresh {
    max-height: 64px;
  }
}
.soda-fresh__text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  color: #016450;
  margin: 0;
  transform: translateX(-10px);
}

@media (max-width: 765px) {
  .soda-fresh__text {
    line-height: 24px;
    font-size: 20px;
  }
}
.soda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid red;
  padding: 120px 50px 50px;
}

@media (max-width: 767px) {
  .soda {
    padding: 50px 20px 20px;
  }
}
.soda__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.5px;
  color: #1E3264;
  margin: 0 auto 120px;
  outline: 1px solid red;
  font-family: Inter, Arial, sans-sarif;
  font-style: normal;
}

@media (max-width: 767px) {
  .soda__title {
    font-size: 45px;
    line-height: 50px;
    margin: 0 auto 50px;
  }
}
@media (max-width: 525px) {
  .soda__title {
    font-size: 34px;
    line-height: 38px;
  }
}
@media (max-width: 425px) {
  .soda__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.soda-taste {
  display: grid;
  grid-template-columns: 386fr 236fr 518fr;
  grid-template-rows: 48px 30px 93px auto;
  padding: 90px 100px;
  outline: 2px solid blue;
  background-color: #9960F6;
}

@media (max-width: 1279px) {
  .soda-taste {
    padding: 40px;
    grid-template-columns: 386fr 180fr 518fr;
    grid-template-rows: 48px 30px 180px auto;
  }
}
@media (max-width: 1023px) {
  .soda-taste {
    padding: 40px;
  }
}
@media (max-width: 925px) {
  .soda-taste {
    grid-template-columns: auto;
    grid-template-rows: 48px 30px auto 60px auto;
    padding: 60px;
  }
}
@media (max-width: 765px) {
  .soda-taste {
    padding: 40px;
    grid-template-rows: auto 20px auto 50px auto;
  }
}
@media (max-width: 425px) {
  .soda-taste {
    padding: 20px;
    grid-template-rows: auto 14px auto 50px auto;
  }
}
.soda__subtitle {
  font-size: 52px;
  line-height: 48px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0;
  letter-spacing: 0.3px;
}

@media (max-width: 767px) {
  .soda__subtitle {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
  }
}
@media (max-width: 425px) {
  .soda__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
.soda-taste__title {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
}

@media (max-width: 925px) {
  .soda-taste__title {
    grid-column: 1;
  }
}
.soda__description {
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0;
  font-family: Inter, Arial, sans-sarif;
}

@media (max-width: 767px) {
  .soda__description {
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .soda__description {
    font-size: 14px;
    line-height: 19px;
  }
}
.soda-taste__description {
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 0;
}

@media (max-width: 925px) {
  .soda-taste__description {
    grid-column: 1;
    width: 70%;
  }
}
@media (max-width: 765px) {
  .soda-taste__description {
    width: 100%;
  }
}
.soda-taste__image {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/5;
}

@media (max-width: 925px) {
  .soda-taste__image {
    grid-column: 1;
    grid-row: 5/6;
  }
}
.soda-composition {
  display: grid;
  grid-template-columns: 386fr 499fr 255fr;
  grid-template-rows: 48px 30px 62px 205px 55px;
  padding: 90px 100px;
  outline: 2px solid blue;
  background-color: #8556F8;
  background-image: url("../../../images/lime-circle.png"), url("../../../images/yellow-circle.png");
  background-size: 185px, 138px;
  background-repeat: no-repeat;
  background-position: top 123px left 622px, bottom 121px right 481px;
}

@media (max-width: 1279px) {
  .soda-composition {
    padding: 40px;
    grid-template-columns: 386fr 350fr 255fr;
    background-position: top 20% left 50%, bottom 20% right 43%;
  }
}
@media (max-width: 925px) {
  .soda-composition {
    grid-template-columns: auto;
    padding: 60px;
    grid-template-rows: 48px 30px auto 100px auto 100px 55px;
    background-position: top 300px right 60px, bottom 268px right 60px;
  }
}
@media (max-width: 767px) {
  .soda-composition {
    background-image: none;
    padding: 40px;
    grid-template-rows: auto 14px auto 60px auto 60px 55px;
  }
}
@media (max-width: 425px) {
  .soda-composition {
    padding: 20px;
  }
}
.soda-composition__title {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
}

@media (max-width: 925px) {
  .soda-composition__title {
    grid-column: 1;
  }
}
.soda-composition__description {
  grid-row: 3/4;
  grid-column: 1/2;
}

@media (max-width: 925px) {
  .soda-composition__description {
    grid-column: 1;
    width: 70%;
  }
}
@media (max-width: 765px) {
  .soda-composition__description {
    width: 100%;
  }
}
.soda-composition__button {
  grid-row: 5/6;
  grid-column: 1/2;
}

@media (max-width: 925px) {
  .soda-composition__button {
    grid-column: 1;
    grid-row: 7/8;
  }
}
.soda-composition__elements {
  max-width: 255px;
  padding: 0;
  outline: 2px solid red;
  grid-row: 1/6;
  grid-column: 3/4;
  margin: 0;
}

@media (max-width: 925px) {
  .soda-composition__elements {
    grid-row: 5/6;
    grid-column: 1;
  }
}
@media (max-width: 767px) {
  .soda-composition__elements {
    width: 100%;
  }
}
.soda-composition__element {
  width: 100%;
  list-style: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 4px;
  text-align: left;
}

.soda-composition__element:not(:first-child) {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .soda-composition__element {
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .soda-composition__element:not(:first-child) {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  .soda-composition__element:not(:first-child) {
    margin-top: 20px;
  }
}
@media (max-width: 425px) {
  .soda-composition__element {
    font-size: 22px;
    line-height: 22px;
  }
}
.soda-mango {
  padding: 20px 180px 0px 154px;
  outline: 2px solid red;
  display: grid;
  grid-template-columns: 460fr 216fr 430fr;
  grid-template-rows: 120fr 200fr 280fr;
  background-image: url("../../../images/mango-green.svg");
  background-size: 219px;
  background-position: top 42px left 701px;
  background-repeat: no-repeat;
  z-index: 2;
  text-align: end;
}

@media (max-width: 1319px) {
  .soda-mango {
    padding: 20px 50px 0px 110px;
    background-position: top 42px left 63%;
  }
}
@media (max-width: 1279px) {
  .soda-mango {
    padding: 20px 50px 0px;
  }
}
@media (max-width: 925px) {
  .soda-mango {
    grid-template-columns: auto;
    grid-template-rows: auto 120fr 610fr;
    padding: 70px 54px 0;
    background-position: top 400px left 54px;
  }
}
@media (max-width: 767px) {
  .soda-mango {
    padding: 30px 20px;
    grid-template-rows: auto 50fr 397fr;
  }
}
@media (max-width: 425px) {
  .soda-mango {
    background-position: bottom 125px left 14px;
    background-image: url("../../../images/mobile_mango-green.svg");
    background-size: 126px;
  }
}
.soda-mango__title {
  max-width: 460px;
  color: #1E3264;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0.3px;
  font-weight: 500;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  text-align: left;
  outline: 1px solid red;
}

@media (max-width: 925px) {
  .soda-mango__title {
    max-width: 550px;
    grid-row: 1/2;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .soda-mango__title {
    font-size: 40px;
    line-height: 44px;
  }
}
@media (max-width: 425px) {
  .soda-mango__title {
    max-width: 280px;
    font-size: 20px;
    line-height: 24px;
  }
}
.soda-mango__image {
  width: 100%;
  grid-row: 1/6;
  grid-column: 3/4;
  z-index: -2;
}

@media (max-width: 925px) {
  .soda-mango__image {
    max-width: 430px;
    grid-row: 3/4;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
  }
}
.samples {
  display: grid;
  grid-template-columns: 457fr 90fr 693fr;
  grid-template-rows: 149px 65px 48px 87px auto;
  background-color: #CEF564;
  margin-top: -100px;
  padding: 60px 50px 60px 150px;
}

@media (max-width: 1438px) {
  .samples {
    grid-template-columns: 457fr 90fr 693fr;
    padding: 60px 50px 60px;
  }
}
@media (max-width: 1200px) {
  .samples {
    grid-template-columns: auto;
    grid-template-rows: auto 48px auto 100px auto;
    padding: 60px 0 34px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -87px;
  }
}
@media (max-width: 767px) {
  .samples {
    grid-template-columns: auto;
    grid-template-rows: auto 20px auto 50px auto;
    padding: 20px 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -88px;
  }
}
.samples__title {
  color: #1E3264;
  font-family: Inter, Arial, sans-sarif;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 0.3px;
  font-weight: 500;
  outline: 2px solid red;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  text-align: left;
}

@media (max-width: 1200px) {
  .samples__title {
    grid-column: 1;
    grid-row: 1/2;
    margin-left: 9%;
  }
}
@media (max-width: 925px) {
  .samples__title {
    grid-column: 1;
    grid-row: 1/2;
  }
}
@media (max-width: 767px) {
  .samples__title {
    font-size: 46px;
    line-height: 50px;
    margin-left: 7%;
  }
}
@media (max-width: 425px) {
  .samples__title {
    font-size: 20px;
    line-height: 23px;
    margin-left: 10px;
  }
}
.samples__description {
  grid-row: 4/5;
  grid-column: 1/2;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  color: #1E3264;
}

@media (max-width: 1200px) {
  .samples__description {
    grid-column: 1;
    grid-row: 3/4;
    margin-left: 9%;
    max-width: 700px;
  }
}
@media (max-width: 900px) {
  .samples__description {
    width: 68%;
  }
}
@media (max-width: 800px) {
  .samples__description {
    margin-left: 60px;
  }
}
@media (max-width: 767px) {
  .samples__description {
    width: 85%;
    margin-left: 7%;
  }
}
@media (max-width: 425px) {
  .samples__description {
    font-size: 14px;
    line-height: 19px;
    margin-left: 10px;
    width: 90%;
  }
}
.form {
  display: grid;
  grid-row: 1/6;
  grid-column: 3/4;
  width: 693px;
  height: 544px;
  padding: 24px 30px 30px;
  background-color: #016450;
  grid-template-columns: 310px 13px 310px;
  grid-template-rows: 40px 50px 77px 12px 77px 179px 55px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .form {
    grid-column: 1;
    grid-row: 5/6;
    grid-template-columns: auto;
    grid-template-rows: auto 50px auto 12px auto 12px auto 90px auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 900px) {
  .form {
    width: 600px;
    height: 544px;
  }
}
@media (max-width: 700px) {
  .form {
    width: 93%;
  }
}
@media (max-width: 425px) {
  .form {
    padding: 20px;
    max-height: 420px;
    grid-template-rows: auto 40px auto 8px auto 8px auto 60px auto;
    width: 260px;
  }
}
.form__container {
  padding: 0;
  border: none;
  margin: 0;
  display: contents;
}

.form__title {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  text-align: left;
  color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .form__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.form__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
}

.form__label:hover,
.form__label:focus-within {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 425px) {
  .form__label {
    font-size: 14px;
    line-height: 31px;
  }
}
.form__label_name {
  grid-row: 3/4;
  grid-column: 1/2;
}

@media (max-width: 1200px) {
  .form__label_name {
    grid-row: 3/4;
    grid-column: 1;
  }
}
.form__label_surname {
  grid-row: 3/4;
  grid-column: 3/4;
}

@media (max-width: 1200px) {
  .form__label_surname {
    grid-row: 5/6;
    grid-column: 1;
  }
}
.form__label_email {
  grid-row: 5/6;
  grid-column: 1/4;
}

@media (max-width: 1200px) {
  .form__label_email {
    grid-row: 7/8;
    grid-column: 1;
  }
}
.form__name {
  grid-row: 3/4;
  grid-column: 1/2;
}

.form__input {
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  height: 44px;
  background-color: #016450;
  padding: 0;
  color: rgb(255, 255, 255);
}

.form__input:focus {
  outline: none;
  color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .form__input {
    height: 30px;
  }
}
.form__surname {
  grid-row: 3/4;
  grid-column: 3/4;
}

.form__email {
  grid-row: 5/6;
  grid-column: 1/4;
}

.form__button {
  grid-row: 7/8;
  grid-column: 1/2;
}

@media (max-width: 1200px) {
  .form__button {
    grid-row: 9/10;
    grid-column: 1;
  }
}
.footer {
  background-color: #7A54F9;
  background-image: url("../../../images/footer_purple-circle.png");
  background-position: top 100px left 150px;
  background-repeat: no-repeat;
  padding: 100px 395px 100px 150px;
  display: grid;
  grid-template-columns: 300px 247px 67px 145px 136px;
  grid-template-rows: 136px 30px 119px 15px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 120px 50px 50px;
    background-position: top 120px left 50px;
    grid-template-columns: 200px 100px 67px 100px 136px;
    grid-template-rows: 93px 30px 162px auto;
    background-size: 200px;
  }
}
@media (max-width: 690px) {
  .footer {
    padding: 60px 60px 20px;
    background-position: top 60px left 50%;
    grid-template-columns: 1fr;
    grid-template-rows: 93px 15px 142px auto 50px auto 50px auto;
  }
}
@media (max-width: 425px) {
  .footer {
    padding: 60px 20px 20px;
  }
}
.footer__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFA72B;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer__title {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 690px) {
  .footer__title {
    grid-row: 2/3;
    grid-column: 1;
    text-align: center;
  }
}
.footer__subtitle {
  font-size: 23px;
  line-height: 33px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin: 0;
}

.footer__nav {
  grid-row: 1/2;
  grid-column: 3/4;
}

@media (max-width: 690px) {
  .footer__nav {
    grid-row: 4/5;
    grid-column: 1;
    text-align: center;
  }
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  grid-column: 3/6;
  grid-row: 4/5;
  margin: 0;
}

@media (max-width: 690px) {
  .footer__copyright {
    grid-row: 8/9;
    grid-column: 1;
    text-align: center;
  }
}
.footer__contact {
  grid-row: 1/2;
  grid-column: 5/6;
}

@media (max-width: 690px) {
  .footer__contact {
    grid-row: 6/7;
    grid-column: 1;
    text-align: center;
  }
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer__menu-item {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.3px;
  margin-top: 3px;
}

.footer__menu-item:first-child {
  margin-top: 20px;
}

.footer__menu-item:hover {
  opacity: 0.7;
}

.footer__contact-email {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.3px;
  margin-top: 3px;
}

.footer__contact-email:hover {
  opacity: 0.7;
}

.footer__contact-email_press {
  margin-top: 20px;
}/*# sourceMappingURL=index.css.map */