$fontfamily: Inter, Arial,sans-sarif;
$purple-primary-color: #9960F6;
$purple-secondary-color:#8556F8;
$purple-third-color:#7A54F9;
$purple-btn-color: #A27BFF;
$yel-btn-color: #FFDB00;
$white-color: rgba(255, 255, 255, 1);
$white-f-color: rgba(255, 255, 255, 0.5);
$blue-color: #1E3264;
$green-color: #016450;
$lite-green-color: #CEF564;
$orange-color: #FFA72B;
