.form__input {
  border: none;
  border-bottom: 2px solid $white-color;
  height: 44px;
  background-color: $green-color;
  padding: 0;
  color: $white-color;
}

.form__input:focus {
  outline: none;
  color: $white-color;
}

@media (max-width: 767px) {
  .form__input {
    height: 30px;
  }
}
